#Do Wealthier Countries Provide Better Education?

###Scrape Data from the UN

In [2]:
#extracting data from: http://web.archive.org/web/20110514112442/http://unstats.un.org/unsd/demographic/products/socind/education.htm

from bs4 import BeautifulSoup
import requests

url = "http://web.archive.org/web/20110514112442/http://unstats.un.org/unsd/demographic/products/socind/education.htm"
r = requests.get(url)

soup = BeautifulSoup(r.content)

In [ ]:
#items we care about are at index 6
counter = 0
for row in soup('table'):
    print(counter)
    print(row)
    print
    counter += 1

In [181]:
#all the lines with relevant info (besides country name) have 'align' in them
soup('table')[6].find_all('tr')[8]

<tr class="tcont">
<td height="19">Afghanistan</td>
<td align="right" height="19">2004</td>
<td height="19">Â </td>
<td height="19">a</td>
<td align="right" height="19" width="71">8</td>
<td width="6"></td>
<td height="19" width="51"></td>
<td align="right" height="19" width="72">11</td>
<td width="6"></td>
<td height="19" width="53"></td>
<td align="right" height="19" width="64">5</td>
<td height="19" width="59"></td>
</tr>

In [182]:
#this seems like a very kludgy way to do this - better way?

countries = []
values = {"Year": [], "Total": [], "Men": [], "Women": []}

all_rows = soup('table')[6].find_all('tr')

for row in all_rows[8:-11]:
    row_vals = row.contents

    countries.append(row_vals[1].get_text())
    country_vals = [row_vals[i].get_text() for i in range(len(row_vals)) if "align" in str(row_vals[i])]

    values["Year"].append(country_vals[0])
    values["Total"].append(country_vals[1])
    values["Men"].append(country_vals[2])
    values["Women"].append(country_vals[3])

In [180]:
#not clear what kind of data structure supposed to put this in to, so just going to go with df for now
import pandas as pd
df = pd.DataFrame(values, index=countries)
print df.head()
print df.tail()
print df.info()

            Men Total Women  Year
Afghanistan  11     8     5  2004
Albania      11    11    11  2004
Algeria      13    13    13  2005
Andorra      11    11    12  2008
Anguilla     11    11    11  2008
                                   Men Total Women  Year
Venezuela (Bolivarian Republic of)  13    14    15  2008
Viet Nam                            11    10    10  2001
Yemen                               11     9     7  2005
Zambia                               8     7     7  2000
Zimbabwe                             9     9     9  2003
<class 'pandas.core.frame.DataFrame'>
Index: 183 entries, Afghanistan to Zimbabwe
Data columns (total 4 columns):
Men      183 non-null object
Total    183 non-null object
Women    183 non-null object
Year     183 non-null object
dtypes: object(4)
memory usage: 7.1+ KB
None